.DuncanIdaho.attacking{
  position: relative;
  -webkit-animation-name: attack;
  -webkit-animation-duration: 800ms;
  animation-name: attack;
  animation-duration: 800;
 }
 
#lightningOrange{
  border-radius: 50%;
}

 .Slash{
  /* -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; */
  /* background-color: rgba(52, 52, 52, alpha); */
  /* background-color: black; */
  /* background-color: transparent;
  opacity:50%; */
  z-index: 3
 }

.pulsing{
  /* position: relative; */
  -webkit-animation-name: attack;
  -webkit-animation-duration: 800ms;
  animation-name: attack;
  animation-duration: 800;
  transform: translateX(115%);
  transform: scaleX(-1);
  /* background-color: rgba(52, 52, 52, alpha); */
/* background-color: black; */
/* background-color: transparent;
opacity:50% */
}

.notPulsing{
visibility: hidden;
  /* background-color: rgba(255,255,255,0.5); */
  /* background-color: Color.black;
  background-color: transparent; */
}

.enemyNotPulsing{
  visibility: hidden;
    /* background-color: rgba(255,255,255,0.5); */
    /* background-color: Color.black;
    background-color: transparent; */
  }

  .enemyPulsing{
    /* position: relative; */
    -webkit-animation-name: attack;
    -webkit-animation-duration: 800ms;
    animation-name: attack;
    animation-duration: 800;
    transform: translateX(-115%);
  
    /* background-color: rgba(52, 52, 52, alpha); */
  /* background-color: black; */
  /* background-color: transparent;
  opacity:50% */
  }

 
 .DuncanIdaho {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  z-index: 1;
  position: relative;
 }


 .SardaukarGrunt.attacking{
  position: relative;
  -webkit-animation-name: attackGrunt2;
  -webkit-animation-duration: 1000ms;
  animation-name: attackGrunt2;
  animation-duration: 1000;
  /*
  this kinda works,
   transform: translateX(-200%);
  transition: 200ms; */
 }
 
 /*lowering the number after "rotating" makes it go faster*/
 /* end is number of interations*/
 .SardaukarGrunt {
  -webkit-animation: rotating 700 linear 2;
  -moz-animation: rotating 700 linear 2;
  -ms-animation: rotating 700 linear 2;
  -o-animation: rotating 700 linear 2;
  animation: rotating 700 linear 2;
 }


 .SardaukarElite.attacking{
  position: relative;
  -webkit-animation-name: attack;
  -webkit-animation-duration: 500ms;
  animation-name: attack;
  animation-duration: 500;
 }
 
 
 .SardaukarElite {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
 }

/* .DuncanDiv2{

  position: relative;
} */


/* html, body {
  width : 100%;
  height: 100%;
  overflow: hidden;
}

body {
  /* border: 1px solid black; */
/* max-height: 400px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */ 

/* p {
  font   : 1em sans-serif;
  margin : 0;
  padding: .5em;
}

ul {
  list-style: none;

  font   : 1em monospace;
  margin : 0;
  padding: .5em;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background: black;
}

li {
  display: inline-block;
  margin : 0;
  padding: 0.5em;
  background: white;
} */
/* For portrait, we want the tool bar on top */

/* @media screen and (orientation: portrait) {
  #toolbar {
    width: 100%;
  }
} */

/* For landscape, we want the tool bar stick on the left */

/* @media screen and (orientation: landscape) {
  #toolbar {
    position: fixed;
    width: 2.65em;
    height: 100%;
  }

  p {
    margin-left: 2em;
  }

  li + li {
    margin-top: .5em;
  }
}

.BattleDiv{
  width: 100%;
}

.BattleMenu{
  width:100%;
} */


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /* to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  } */
}
.DuncanDiv {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


.BattleDiv{
  width: 100%;
}

.BattleMenu{
  width:100%;
}

@-webkit-keyframes attack {
  0%   { left: 0px;;}

  50%  { left: 60%;}

  100% { left: 0%;}
}

/* this wasnt working */
@-webkit-keyframes attackGrunt2 {
  0%   { right: 0px;}

  50%  { right: 250%;}

  100% { right: 0px;}
}

/*this registers AttackGrunt
@-webkit-keyframes attackGrunt  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /* to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  } */
}
/* .DuncanDiv {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
} */

/* Safari and Chrome */
@-webkit-keyframes attackRotating  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes attackRotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
   to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  } 
}

/*Beast Harkonnen transition*/
#beastHarkonnen {
  /* width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold; */
  position: relative;
  -webkit-animation: mymove 10s ; /* Safari 4.0 - 8.0 */
  animation: mymove 10s ;
}
#div1 {-webkit-animation-timing-function: linear;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {right: -1000px; bottom:-200px;}
  to {right: -100px; bottom:2000px;}
}

/* Standard syntax */
@keyframes mymove {
  from {right:-1000px; bottom:-200px;}
  to {right: -100px; bottom:200px;}
}

.beastRotating{
  position: relative;
  -webkit-animation-name: attackRotating;
  -webkit-animation-duration: 10000ms;
  animation-name: attackRotating;
  animation-duration: 10000;
  z-index: 1;
  position: relative;
 }

.Story{
width:100%
}

.Story.hidden{
  width:100%;
  visibility: hidden;
}