.A {
    background-image: url("./img/background_battleScreen.jpg");

}

.B {
    background-image: url("./img/mapPlay_End.jpg");
}

.C {
    background-image: url("./img/mapPlay_Straight.jpg");
}

.D {
    background-image: url("./img/mapPlay_Straight.jpg");

}

.E {
    background-image: url("./img/mapPlay_LeftStraightRight.jpg");

}
