.logo{
  max-width: 80%;
}

.intro-form > input {
  margin: 0;
  width: 0;
  padding: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

.intro-form  > div {
  cursor: pointer;
  border: 2px solid #444444;
  box-shadow: 4px 4px black;
  transition: 0.7s;
}

.intro-form  > input:checked + div {
  border: 2px solid black;
  background: #E8E8E8;
  box-shadow: 1px 1px black;
  transform: translate(3px, 3px);
  transition: 0.7s;
}

.intro-selections {
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.intro-selection {
  margin: 16px 20px;
}

.intro-selection img {
  height: 48px;
  margin: 12px auto 4px;
}

.intro-selection h4 {
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.intro-img-box {
  background: #CCCCCC;
  margin-top:-70px;
  width: 100px;
  height: 30px;
  padding: 0;
}

.intro-img-box:hover {
  background: #DDDDDD;
  border: 2px solid black;
}

.intro-name > input {
  font-size: 16px;
  visibility: hidden;
}

.intro-submit {
  font-size: 16px;
  padding: 8px;
  margin: 20px;
  background: lightblue;
  border-radius: 8px;
  box-shadow: 2px 2px black;
}

@media (max-width: 700px) {
  .intro-selection {
    margin: 12px;
  }
}

@media (max-width: 565px) {
  .intro-selection {
    margin: 8px;
  }

  .intro-img-box {
    width: 80px;
    height: 80px;
  }

  .intro-selection img {
    height: 36px;
    margin: 8px auto 2px;
  }

  .intro-submit {
    font-size: 12px;
    margin: 4px;
  }
}
/* First let's define some common styles */

html, body {
  width : 100%;
  height: 100%;
}

body {
  border: 1px solid black;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font   : 1em sans-serif;
  margin : 0;
  padding: .5em;
}

ul {
  list-style: none;

  font   : 1em monospace;
  margin : 0;
  padding: .5em;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background: black;
}

li {
  display: inline-block;
  margin : 0;
  padding: 0.5em;
  background: white;
}
/* For portrait, we want the tool bar on top */

@media screen and (orientation: portrait) {
  #toolbar {
    width: 100%;
  }
}

/* For landscape, we want the tool bar stick on the left */

@media screen and (orientation: landscape) {
  #toolbar {
    position: fixed;
    width: 2.65em;
    height: 100%;
  }

  p {
    margin-left: 2em;
  }

  li + li {
    margin-top: .5em;
  }
}